body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.checkout-main {
  display: flex;
  flex-direction: row;
}

.checkout-left {
  width: 35vw;
}

.checkout-mid {
  width: 50vw;
}

.checkout-right {
  margin-left: 20px;
  width: 15vw;
}

.checkout-item {
  padding: 7px;
  margin-bottom: 6px;
  border-radius: 5px;
  background-color: lightgrey;
  display: flex;
  flex-direction: row;
  width: 35vw;
}


.checkout-info {
  padding-left: 15px;
  width: 10vw; 
}